body {
  background: linear-gradient(45deg, #c2bcbc 0%, #030202 100%);
}
.topnav {
  background: linear-gradient(45deg, #c2bcbc 0%, #030202 100%);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #deab2a;
  color: black;
}

.topnav a.active {
  background-color: #2a7ede;
  color: white;
}

.topnav .icon {
  display: none;
}

a {
  color: #2a7ede;
  text-decoration: none;
}
a:hover {
  background-color: #555;
}

a:active {
  background-color: black;
}

a:visited {
  background-color: #ccc;
}